/* Padrão de pc*/
@media (max-width:4000px) {
    body {
        background-color: blue;
    }
}

/* Padrão de Celular*/

@media (max-width:450px){
   .fixo {
        height: 50px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        color:rgb(255, 225, 0);
        font-family: fantasy;

    }
    .fixo .s1h1{
        padding-top: 17px;
        
    }
    .quadradinhos img{
        width: 10%;
        margin-left: 20px;
    }
    .slide img{
        width: 100%;
    }
    .slider{
        overflow: hidden;
        width: 100%;
        height: 268px;
    }
    .quadradinhos{
        margin-top: -75px;

    }
    .principal{
        display: flex;
        width: 300%;
    }
    .slide{
        width: 33.333333%;

    }
    .principal input{
        display: none;
    }
    #bola1:checked ~ .primeiro{
        margin-left: 0%;
    }
    #bola2:checked ~ .primeiro{
        margin-left: -33.33%;
    }
    #bola3:checked ~ .primeiro{
        margin-left: -66.66%;
    }
    
}
