/* Padrão de pc*/
@media (max-width:4000px) {
    body {
        background-color: blue;
    }

    .easteregg-container {
        display: none;
    }
}

/* Padrão de Celular*/

@media (max-width:450px) {
    .fixo {
        height: 50px;
        background-color: rgb(0, 0, 0);
        position: fixed;
        z-index: 2;
        bottom: 0;
        width: 100%;
        color: rgb(255, 225, 0);
        font-family: fantasy;
        border: 2px solid rgb(255, 225, 0);

    }

    .fixo .s1h1 {
        padding-top: 17px;

    }

    .s1 img {
        width: 200px;
        height: 200px;
        margin-inline: auto;

    }

    .s1 {
        background-color: black;
        border: 5px solid rgb(255, 225, 0);
        border-radius: 20px;

    }

    /*Aqui é o CSS dos Slider*/
    .quadradinhos img {
        width: 10%;
        margin-left: 20px;
    }

    .slide img {
        width: 100%;
    }

    .slider {
        overflow: hidden;
        width: 100%;
        height: 268px;
    }

    .quadradinhos {
        margin-top: -75px;

    }

    .principal {
        display: flex;
        width: 300%;
    }

    .slide {
        width: 33.333333%;
        transition: margin-left 2s;

    }

    .principal input {
        display: none;
    }

    #bola1:checked~.primeiro {
        margin-left: 0%;
    }

    #bola2:checked~.primeiro {
        margin-left: -33.33%;
    }

    #bola3:checked~.primeiro {
        margin-left: -66.66%;
    }

    /*Aqui Termina o CSS dos Slider*/
    .s3 h1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
    }

    .s3 .txt1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 70px;
        
        text-align: center;
    }

    .s3 .txtp1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 20px;
        padding-top: 20px;
    }

    .s3 .imgp1 {
        width: 100%;
        height: 200px;
                text-align: center;

    }

    .s4 h1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
    }

    .s4 .txt1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 70px;

    }

    .s4 .txtp1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 20px;
        padding-top: 20px;
    }

    .s4 .imgp1 {
        width: 100%;
        height: 200px;
    }

    .s4 {
        padding-top: 40px;
        padding-bottom: 70px;

    }

    .grupo1 {
        background-color: rgba(0, 0, 0, 0.401);
        border: 2px solid rgb(255, 255, 0);
        margin-top: 10px;
        width: 85%;
        margin-left: 2.5%;
        font-size: 20px;
        padding: 5px;
        color: white;
        font-family: fantasy;
    }

    .grupo1 .imagem1 {
        text-align: left;

    }

    .grupo2 {
        background-color: rgba(0, 0, 0, 0.401);
        border: 2px solid rgb(255, 255, 0);
        margin-top: 10px;
        width: 85%;
        margin-left: 8%;
        font-size: 20px;
        padding: 5px;
        color: white;
        font-family: fantasy;
    }

    .recolher {
        width: 88%;
    }
    .p5s2 .txt1{
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 35px;
        padding-left: 7px;
    }
    .p5s2 h1{
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 20px;
    }
    .p5s2 input{
        background-color: black;
        color: rgb(255, 225, 0);
        font-family: fantasy;
        text-align: center;
        border-radius: 20px;
        border: 6px solid  rgb(255, 225, 0);
        font-size: 20px;
    }

    .p5s2 textarea{
        background-color: black;
        color: rgb(255, 225, 0);
        font-family: fantasy;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        height: 200px;
        text-align: left;
        border: 6px solid  rgb(255, 225, 0);
        font-size: 20px;
    }
    .p5s2{
        text-align: center;
    }
    .p5s2 button{
        background-color: black;
        color: rgb(255, 225, 0);
        font-family: fantasy;
        text-align: center;
        border-radius: 20px;
        width: 70%;
        text-align:center;
        height: 70px;
        font-size: 50px;
        margin-top: 10px;
        border: 6px solid  rgb(255, 225, 0);
        margin-bottom: 40px;
    }
    .p5s2 .check1{
        
        color: rgb(255, 225, 0);
        font-family: fantasy;
       
        
    }

    .p5s2 .check2{
        
        color: rgb(255, 225, 0);
        font-family: fantasy;
       
        
    }

    .p5s2 .container {
        margin-inline: auto;
        padding: 4px;
    }

    .p4s2 h1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
    }

    .p4s2 .txt1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 70px;
        
        text-align: center;
    }

    .p4s2 .txtp1 {
        color: rgb(255, 225, 0);
        font-family: fantasy;
        font-size: 20px;
        padding-top: 20px;
    }

    .p4s2 .imgp1 {
        width: 100%;
        height: 200px;
                text-align: center;

    }
    
    .easteregg-container {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;

        display: none;

        pointer-events: none;

        background: rgba(0, 0, 0, 0.5);
    }

    #easteregg {
        width: 100%;
    }

}